In [2]:
import pandas as pd
import numpy as np

In [15]:
oscars = pd.read_csv('oscars.csv')
oscars.head()

        Year  Ceremony    Award  Winner                 Name              Film
0  1927/1928         1    Actor     NaN  Richard Barthelmess         The Noose
1  1927/1928         1    Actor     1.0        Emil Jannings  The Last Command
2  1927/1928         1  Actress     NaN       Louise Dresser   A Ship Comes In
3  1927/1928         1  Actress     1.0         Janet Gaynor        7th Heaven
4  1927/1928         1  Actress     NaN       Gloria Swanson    Sadie Thompson

In [29]:
imdb = pd.read_csv('imdb.csv')
imdb.tail()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
85850,tt9908390,Le lion,Le lion,2020,2020-01-29,Comedy,95,"France, Belgium",French,Ludovic Colbeau-Justin,...,"Dany Boon, Philippe Katerine, Anne Serra, Samu...",A psychiatric hospital patient pretends to be ...,5.3,398,NaN,NaN,$ 3507171,NaN,NaN,4.0
85851,tt9911196,De Beentjes van Sint-Hildegard,De Beentjes van Sint-Hildegard,2020,2020-02-13,"Comedy, Drama",103,Netherlands,"German, Dutch",Johan Nijenhuis,...,"Herman Finkers, Johanna ter Steege, Leonie ter...",A middle-aged veterinary surgeon believes his ...,7.7,724,NaN,NaN,$ 7299062,NaN,6.0,4.0
85852,tt9911774,Padmavyuhathile Abhimanyu,Padmavyuhathile Abhimanyu,2019,2019-03-08,Drama,130,India,Malayalam,Vineesh Aaradya,...,"Anoop Chandran, Indrans, Sona Nair, Simon Brit...",NaN,7.9,265,NaN,NaN,NaN,NaN,NaN,NaN
85853,tt9914286,Sokagin Çocuklari,Sokagin Çocuklari,2019,2019-03-15,"Drama, Family",98,Turkey,Turkish,Ahmet Faik Akinci,...,"Ahmet Faik Akinci, Belma Mamati, Metin Keçeci,...",NaN,6.4,194,NaN,NaN,$ 2833,NaN,NaN,NaN
85854,tt9914942,La vida sense la Sara Amat,La vida sense la Sara Amat,2019,2020-02-05,Drama,74,Spain,Catalan,Laura Jou,...,"Maria Morera Colomer, Biel Rossell Pelfort, Is...","Pep, a 13-year-old boy, is in love with a girl...",6.7,102,NaN,NaN,$ 59794,NaN,NaN,2.0

In [4]:
streaming = pd.read_csv('MoviesOnStreamingPlatforms_updated.csv').set_index('ID').drop('Unnamed: 0', axis = 1)
streaming.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
ID,,,,,,,,,,,,,,,
1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [35]:
test = imdb#[imdb['date_published'] == 'TV Movie 2019']
test['date_published'] = pd.to_datetime(test['date_published'], errors = 'coerce')
test = test[(test['date_published']>'1927-01-01')&(test['date_published']<'2016-12-31')]
test.head()

,imdb_title_id,title,original_title,year,date_published,genre,duration,country,language,director,...,actors,description,avg_vote,votes,budget,usa_gross_income,worlwide_gross_income,metascore,reviews_from_users,reviews_from_critics
175,tt0010680,The Sentimental Bloke,The Sentimental Bloke,1919,2005-01-01,"Drama, Romance",106,Australia,English,Raymond Longford,...,"Arthur Tauchert, Lottie Lyell, Gilbert Emery, ...",A down-at-heal ex-convict undergoes an epiphan...,6.3,237,NaN,NaN,NaN,NaN,11.0,10.0
305,tt0013579,Ombre ammonitrici,Schatten - Eine nächtliche Halluzination,1923,2016-11-29,"Drama, Fantasy, Horror",90,Germany,German,Arthur Robison,...,"Alexander Granach, Max Gülstorff, Lilli Herder...",A wealthy man invites the local wealthy bachel...,6.8,842,NaN,NaN,NaN,NaN,15.0,16.0
330,tt0014358,Il pellegrino,The Pilgrim,1923,1927-05-06,Comedy,47,USA,"None, English",Charles Chaplin,...,"Charles Chaplin, Edna Purviance, Syd Chaplin, ...",The Tramp is an escaped convict who is mistake...,7.4,4261,NaN,$ 280171,NaN,NaN,26.0,15.0
342,tt0014538,"Senti, amore mio",Three Ages,1923,1928-08-16,Comedy,63,USA,NaN,"Edward F. Cline, Buster Keaton",...,"Buster Keaton, Margaret Leahy, Wallace Beery, ...",The misadventures of Buster in three separate ...,7.1,3949,NaN,NaN,NaN,NaN,24.0,36.0
348,tt0014624,La donna di Parigi,A Woman of Paris: A Drama of Fate,1923,1927-06-06,"Drama, Romance",82,USA,"None, English",Charles Chaplin,...,"Edna Purviance, Clarence Geldart, Carl Miller,...",A kept woman runs into her former fiancé and f...,7.0,4735,$ 351000,NaN,$ 11233,NaN,37.0,24.0